*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

#imagen1:hover{
    transform: scale(1.1);
}

nav{
    font-size: 20px;
}



/* ---- Inicio Sesion ---- */
.contenedor_inicio_sesion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio_sesion > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ---- Registro ---- */
.contenedor_registro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_registro > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ---- Mesas ---- */
.contenedor_mesas {
    width: 100%;
    min-width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

#caja_mesas {
    width: 80%;
    min-height: 80vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.mesas {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #0FDBF2;
    border: dashed 2px rgb(19, 19, 71);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.seleccionada {
    background-color: rgba(127, 45, 45, 0.8);
    color: white;
    border: solid 2px white;
}

.ocupada {
    background-color: gray;
    color: white;
    cursor: not-allowed;
    border: solid 2px black;
}

.boton_siguiente {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #0FDBF2;
    border-radius: 20px;
    border: dashed 2px rgb(19, 19, 71);
    color: white;
    text-decoration: none;
    cursor: pointer;
}