*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

#imagen1:hover{
    transform: scale(1.1);
}

nav{
    font-size: 20px;
}



/* ---- Inicio Sesion ---- */
.contenedor_inicio_sesion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio_sesion > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ---- Registro ---- */
.contenedor_registro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_registro > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}